#game {
	background-color: rgb(24, 201, 38);
}
.memoryImage {
	padding: 5px;
}
.correct {
	background-color: green;
}
.btn {
	align-items: center;
	height: 50px;
	color: white;
	background-color: blue;
	font-size: 20px;
	font-weight: bolder;
	margin: auto;
	display: flex;
}
